%form{ action: "/requests", method: "post", accept: { charset: "UTF-8" } }
  
  %input{ name: "authenticity_token", type: "hidden", value: form_authenticity_token }

  %section#nav-sidebar
    %ul#nav-main
      %li#nav-personal
        %h4 פרטים כלליים
        %ul
          %li#nav-personal-overview פרטים כלליים
          %li#nav-personal-tax-status סטטוס לפי מס הכנסה
          %li#nav-personal-medical מצב רפואי מוכר על ידי ביטוח
          %li#nav-personal-residency תושבות לצרכי מס
      %li#nav-family
        %h4 מצב משפחתי
      %li#nav-income
        %h4 הכנסות
      %li#nav-expenses
        %h4 הוצאות
      %li#nav-summary
        %h4 סיכום

  #active-section

%button#back-button.button.button-empty{ type: "button" } < חזור
%button#continue-button.button.button-green{ type: "button" } המשך >

/   <div class="actions">
/     <%= f.submit "שלח בקשה" %>
/   </div>
