- prefix = "spouse_" if spouse

%input.save-request{ id:  "#{ prefix }blind", type: "checkbox", value: "1" }
%label{ for: "#{ prefix }blind" } עיוור בעל תעודת עיוור

%input.save-request{ id:  "#{ prefix }disabled", type: "checkbox", value: "1" }
%label{ for: "#{ prefix }disabled" } נכה, מוכר ע״י המוסד לביטוח לאומי 90% לפחות