- prefix = "spouse_" if spouse

%input{ id: "#{prefix}blind", type: "checkbox", value: "1" }
%label{ for: "#{prefix}blind" } עיוור בעל תעודת עיוור

%input{ id: "#{prefix}disabled", type: "checkbox", value: "1" }
%label{ for: "#{prefix}disabled" } נכה, מוכר ע״י המוסד לביטוח לאומי 90% לפחות