<div id="jumbo">
  <h2>TaxPass</h2>

  <p>
    ברוכים הבאים ל-TaxPass הדרך הקלה לקבל החזר מס, ללא עלויות וללא נייר. מייד נשאל אתכם מספר שאלות קצרות בכדי להכיר אתכם מבחינה מיסויית. בכל שלב תוכלו לפנות לצ׳אט השירות בחלונית בקצה השמאלי העליון.
  </p>

  <div>
    <%= link_to 'משתמש חדש', new_user_registration_path, class: 'button button-green' %>
    <%= link_to 'משתמש רשום', new_user_session_path, class: 'button button-orange' %>
  </div>
</div>
