<div id="jumbo">
  <h2>טקסט פתיחה שיווקי</h2>

  <p>
    חברת כרטיסי האשראי כאל תמכור עד 5 ביולי כרטיס קולנוע ב-9 שקלים, בהגבלה ל-4 כרטיסים ובלי לשלם עמלת אינטרנט. "זו בקשה של הלקוחות שלנו וברור למה - בילוי בקולנוע כולל פופקורן עולה היום 100 שקל לאדם". בגלל יוקר הבילוי, תמיד עדיף שלא לשלם מחיר מלא: אפשר לקנות כרטיסים ב-1+1 במבצעים קבועים של המתחרות, או להביא פופקורן מהבית
  </p>

  <div>
    <%= link_to 'משתמש חדש', new_user_registration_path, class: 'button button-green' %>
    <%= link_to 'משתמש רשום', new_user_session_path, class: 'button button-orange' %>
  </div>
</div>
