@import "mixins";

#income-intro-section {
  // text-align: center;
}

#ii-description-main {
  font-size: 28px;
  color: #333;
}

#ii-description-secondary {
  margin: 18px 0;
  font-size: 16px;
  color: #888;
}

.checkbox-options {
  // width: 300px;
  text-align: right;
  @include no-select;
}

.checkbox-option {
  position: relative;
  margin-top: 1px;
  overflow: hidden;
  cursor: pointer;

  &:first-child {
    border-radius: 5px 5px 0 0;

    label {
      border-radius: 5px 5px 0 0;     
    }
  }

  &:last-child {
    border-radius: 0 0 5px 5px;

    label {
      border-radius: 5px 5px 0 0;     
    }
  }

  label {
    padding-right: 74px;
    display: block;
    line-height: 44px;
    font-size: 14px;
    color: #333;
    cursor: pointer;  
  }

  i {
    position: absolute;
    top: 15px;
    right: 42px;
    font-size: 16px;

    &.fa-check {
      top: 10px;
      right: 10px;
      width: 22px;
      height: 22px;
      line-height: 22px;
      border: 1px solid #e2e2e2;
      border-radius: 3px;
      font-size: 20px;
      color: #fff;
      background-color: #fff;
    }
  }

  input[type=checkbox] {
    display: none;
  }

  input:checked + label {
    // background: #2c78c3;
    // color: #fff;

    .fa-check {
      color: #ff8900;
      // border-color: #1c68b3;
      // border-color: #aaa;
    }

    i {
      // color: #fff;
    }
  }

  @include no-tap-highlight;
}

.ii-options-kids {
  .fa-male, .fa-female {
    font-size: 14px;
  }

  .fa-male {
    right: 13px;
  }

  .fa-female {
    right: 21px;
  }
}