body {
  direction: rtl;
  padding: 0;
  margin: 0;
}

#header {
  background-color: #428bca;
}

#header-logo {
  display: inline-block;
  padding: 10px 20px;
  font-size: 30px;
  color: #fff;
}

#header-links {
  float: left;
  margin: 19px 20px;

  a {
    margin-right: 16px;
    color: #cdddeb;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: #fff;
      text-decoration: underline;
    }
  }

}

section {
  display: none;

  &.active {
    display: block;
  }
}

.spouse {
  display: none;

  .spouse-included & {
    display: block;
  }
}

.date-field {
  display: inline;
}

#kds-kids {
  display: none;
}