@mixin border-box {  
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  direction: rtl;
  padding: 0;
  margin: 0;
  color: #333;
  background-color: #f0f0f0;
}

h2 {
  margin: 0;
}

em {
  font-style: normal;
  font-weight: bold;
}

input {
  padding: 12px;
  font-size: 16px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type=date] {
  padding: 9px 12px;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: #428bca;
}

#header {
  background-color: #428bca;
}

#header-wrap {
  margin: auto;
  padding: 0 20px;
  max-width: 800px;
}

#header-logo {
  display: inline-block;
  padding: 10px 0;
  font-size: 30px;
  color: #fff;
}

#header-links {
  float: left;
  margin: 19px 0;
  color: rgba(205, 221, 235, .3);

  a {
    margin: 0 12px;
    color: #cdddeb;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      color: #fff;
      text-decoration: underline;
    }
  }

  #sign-out {
    margin-right: 0;
  }

  #connected-as {
    margin-right: 12px;
    color: #cdddeb;
    opacity: .5;
  }
}

#content {
  position: relative;
  margin: auto;
  padding: 0 20px 45px;
  max-width: 800px;
  min-height: 500px;
}

#jumbo {
  margin-top: 40px;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;

  h2 {
    font-size: 58px;
  }

  p {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .button:first-of-type {
    margin-left: 10px;
  }
}

.button {
  display: inline-block;
  padding: 14px 24px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.button-gray {
  background-color: #ddd;
  color: #666;

  &:hover {
    background-color: #ccc;
    color: #555;
  }
}

.button-green {
  background-color: #5cb85c;

  &:hover {
    background-color: #4ca84c;    
  }
}

.button-orange {
  background-color: #eb9316;

  &:hover {
    background-color: #db8306;    
  }
}

.button-blue {
  background-color: #428bca;

  &:hover {
    background-color: #327bba;
  }
}

.button-empty {
  border: 1px solid #ccc;
  background: transparent;
  color: #428bca;

  &:hover {
    background: rgba(0, 0, 0, .05);
  }
}

#registration-form, #login-form {
  margin: 40px auto;
  width: 330px;

  h2 {
    font-size: 30px;
    margin-bottom: 7px;
  }

  input:not([type=submit]) {
    @include border-box;

    margin: 0;
    width: 100%;
    
    border-top: none;
    border-radius: 0;
    
    &:first-of-type {
      border-top: 1px solid #ccc;
      border-radius: 5px 5px 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 5px 5px;
    }
  }

  .button {
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    border: 1px solid #357ebd;
    font-size: 18px;
  }
}

#footer {
  margin: 40px auto;
  padding: 12px 2px;
  max-width: 800px;
  border-top: 1px solid #ccc;
  font-size: 13px;
  font-weight: 300;
  color: #333;
}

section {
  display: none;
  padding: 30px 0;

  &.active {
    display: block;
  }
}

.section-title {
  margin: 20px 0;
  font-size: 28px;
}

.section-description {
  margin-bottom: 24px;
  max-width: 600px;
  color: #888;
}

.spouse {
  display: none;
  margin-top: 20px;

  .spouse-included & {
    display: block;
  }
}

.date-field {
  display: inline;
}

#tax_year {
  font-size: 26px;
}

.mss-field {
  padding: 4px 0;
}

#mit-only-me,
#mit-spouse-too {
  font-size: 16px;
}

#mit-spouse-name-dialog {
  input {
    margin-right: 20px;
    width: 200px;
  }
}

#widowed-intro-section {
  label {
    display: inline-block;
    margin-right: 50px;
    width: 110px;
  }

  input{
    width: 206px;    
    margin-top: 10px;
  }

  // #spouse_death_date {
  //   padding: 10px 12px;
  // }
}

#personal-overview-section {
  p {
    margin: 20px 0 10px;
  }

  .field {
    @include border-box;

    display: inline-block;
    margin-bottom: 2px;
    padding-right: 15px;
    width: 330px;
    line-height: 48px;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 4px;

    label {
      display: inline-block;
      width: 100px;
    }

    input {
      padding: 6px;
    }
  }
}

#personal-tax-status-section {
  .dependant-fields {
    display: none;
    padding-right: 60px;
    padding-bottom: 20px;
  }

  input:checked ~ .dependant-fields {
    display: block;
  }

  .inner-label {
    display: inline-block;
    width: 125px;
  }

  input:not([type=checkbox]) {
    width: 200px;
  }

  // input[type=date] {
  //   padding: 10px 12px;
  // }

  #pts-main-list > li {
    padding: 6px 0;

    &:first-child {
      padding-top: 0;
    }
  }
}

#academia-section {
  label {
    display: inline-block;
    width: 80px;
  }
}

#special-area-section {

  #spa-lived-there {
    margin: 20px 0 0;
  }

  #spa-date-range {
    padding-top: 10px;
    padding-right: 40px;
  }
}


#kds-kids {
  display: none;
}

.kdss-kid-info {
  margin-top: 20px;
}

.kdss-kid-name {
  display: block;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: #428bca;
}

.kdss-single-parent {
  display: none;

  .kdss-under-my-supervision:checked ~ & {
    display: block;
  }
}

.kdss-under-my-supervision:checked ~ .kdss-supported {
  display: none;
}

#back-button,
#continue-button {
  position: absolute;
  bottom: 0;
  padding: 12px 0;
  width: 120px;
  font-size: 16px;
}

#back-button {
  right: 20px;
}

#continue-button {
  left: 20px;
}