body {
  direction: rtl;
}

section {
  display: none;

  &.active {
    display: block;
  }
}

.spouse {
  display: none;

  .spouse-included & {
    display: block;
  }
}

.date-field {
  display: inline;
}

#kds-kids {
  display: none;
}